﻿@using System.Web.Optimization
@inherits UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE HTML>
<!--
    Overflow 1.0 by HTML5 UP
    html5up.net | twitter.com/n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
    -->
<html>
<head>
    <title>@Umbraco.Field("pageName") | @Umbraco.Field("siteName", recursive: true)</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    @*@Styles.Render("~/Css")*@
    <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/docs.css" rel="stylesheet" />
    <link href="~/Content/assets/style.css" rel="stylesheet" />
    <link href="~/Content/assets/js/google-code-prettify/prettify.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic" rel="stylesheet" type="text/css" />
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="~/Content/assets/js/jquery.js"></script>
	<script src="~/Content/assets/js/google-code-prettify/prettify.js"></script>
    <script src="~/Content/assets/js/application.js"></script>
    <script src="~/Content/assets/js/bootstrap-transition.js"></script>
    <script src="~/Content/assets/js/bootstrap-modal.js"></script>
    <script src="~/Content/assets/js/bootstrap-scrollspy.js"></script>
    <script src="~/Content/assets/js/bootstrap-alert.js"></script>
    <script src="~/Content/assets/js/bootstrap-dropdown.js"></script>
    <script src="~/Content/assets/js/bootstrap-tab.js"></script>
    <script src="~/Content/assets/js/bootstrap-tooltip.js"></script>
    <script src="~/Content/assets/js/bootstrap-popover.js"></script>
    <script src="~/Content/assets/js/bootstrap-button.js"></script>
    <script src="~/Content/assets/js/bootstrap-collapse.js"></script>
    <script src="~/Content/assets/js/bootstrap-carousel.js"></script>
    <script src="~/Content/assets/js/bootstrap-typeahead.js"></script>
    <script src="~/Content/assets/js/bootstrap-affix.js"></script>
    <script src="~/Content/assets/js/jquery.lightbox-0.5.js"></script>
	<script src="~/Content/assets/js/bootsshoptgl.js"></script>
	 <script type="text/javascript">
	     $(function () {
	         $('#gallery a').lightBox();
	     });
    </script>
    @RenderSection("scripts", false)

</head>
<body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                @*<a id="logoM" href="index.html">
                    <img src="~/Content/assets/img/logo.png" alt="Bootsshop" /></a>*@
                <a data-target="#sidebar" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class=""><a href="index.html">Home	</a></li>
                        <li class=""><a href="special_offer.html">Specials Offer</a></li>
                        <li class=""><a href="normal.html">Delivery</a></li>
                        <li class=""><a href="contact.html">Contact</a></li>
                    </ul>
                    @using (Html.BeginForm("Search", "ArticleSurface"))
                    {
                        <input id="txtSearch" name="txtSearch" type="text" placeholder="Enter text search" class="search-query span5" />
                    }
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Login <b class="caret"></b></a>
                            <div class="dropdown-menu">
                                <form class="form-horizontal loginFrm">
                                    <div class="control-group">
                                        <input type="text" class="span2" id="inputEmail" placeholder="Email">
                                    </div>
                                    <div class="control-group">
                                        <input type="password" class="span2" id="inputPassword" placeholder="Password">
                                    </div>
                                    <div class="control-group">
                                        <label class="checkbox">
                                            <input type="checkbox">
                                            Remember me
                                        </label>
                                        <button type="submit" class="btn btn-block">Sign in</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- ======================================================================================================================== -->
    <div id="mainBody" class="container">
        <header id="header">
            <div class="row">
                <div class="span12">
                    <a href="index.html">
                        <img src="~/Content/assets/img/logo.png" alt="Bootsshop" /></a>

                    <div class="pull-right">
                        <br />
                        <a href="product_summary.html"><span class="btn btn-mini btn-warning"><i class="icon-shopping-cart icon-white"></i>[ 3 ] </span></a>
                        <a href="product_summary.html"><span class="btn btn-mini active">$155.00</span></a>
                        <span class="btn btn-mini">&pound;</span>
                        <span class="btn btn-mini">&euro;</span>
                    </div>
                </div>
            </div>
            <div class="clr"></div>
        </header>
        <!-- ==================================================Header End====================================================================== -->
    

    <div class="row">
        <div id="sidebar" class="span3">
            @Html.Partial("umbNavigate")
        </div>
        <div class="span9">
            <ul class="breadcrumb">
		        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
		        <li class="active">Products Name</li>
            </ul>

            @RenderBody()
        </div>
    </div>

    <!-- Footer ------------------------------------------------------ -->
<hr class="soft">
<div  id="footerSection">
	<div class="row">
		<div class="span3">
			<h5>ACCOUNT</h6>
			<a href="login.html">YOUR ACCOUNT</a>
			<a href="login.html">PERSONAL INFORMATION</a> 
			<a href="login.html">ADDRESSES</a> 
			<a href="login.html">DISCOUNT</a>  
			<a href="login.html">ORDER HISTORY</a>
		 </div>
		<div class="span3">
			<h5>INFORMATION</h5>
			<a href="contact.html">CONTACT</a>  
			<a href="register.html">REGISTRATION</a>  
			<a href="legal_notice.html">LEGAL NOTICE</a>  
			<a href="tac.html">TERMS AND CONDITIONS</a> 
			<a href="faq.html">FAQ</a>
		 </div>
		<div class="span3">
			<h5>OUR OFFERS</h5>
			<a href="#">NEW PRODUCTS</a> 
			<a href="#">TOP SELLERS</a>  
			<a href="special_offer.html">SPECIAL OFFERS</a>  
			<a href="#">MANUFACTURERS</a> 
			<a href="#">SUPPLIERS</a> 
		 </div>
		<div id="socialMedia" class="span3 pull-right">
			<h5>SOCIAL MEDIA </h5>
			<a href="#"><img width="60" src="~/Content/assets/img/facebook.png" title="facebook"/></a>
			<a href="#"><img width="60" src="~/Content/assets/img/twitter.png" title="twitter"/></a>
			<a href="#"><img width="60" src="~/Content/assets/img/rss.png" title="rss"/></a>
			<a href="#"><img width="60" src="~/Content/assets/img/youtube.png" title="youtube"/></a>
		 </div> 
	 </div>
	 <hr class="soft">
	<p class="pull-right">&copy; Boot'sshop</p>
</div>

    </div><!-- /container -->
    
    
    
</body>

</html>
