﻿@model Fashion.Models.PageInformation


@if (Model.CurrentPage > 1)
{
    <li><a href="#" data-page="1">&lsaquo;</a></li>
}
else
{
    <li><a href="#">&lsaquo;</a></li>
}

@for (int i = 1; i <= Model.TotalPage; i++)
{
    if (Model.CurrentPage == i)
    {
    <li><a href="#">@i</a></li>
    }
    else
    {
    <li><a href="#" data-page="@i">@i</a></li>
    }
}

@if (Model.CurrentPage < Model.TotalPage)
{
    <li><a href="#" data-page="@{
                                   int i = Model.CurrentPage + 1;
                               }@i">&rsaquo;</a></li>
}
else
{
    <li><a href="#">&rsaquo;</a></li>
}
