﻿@model Fashion.Models.ListProduct
<!-- Generic -->
<article class="container box style3">
    <header>
        <h1>List Product</h1>
        <div class="float-right">
            <select id="sortType">
                <option value="DESC">DESC</option>
                <option value="ASC">ASC</option>
            </select>
        </div>
    </header>
    <div>
        @foreach (var product in Model.Products)
        {
            <div style="width: 30%; float: left;">
                <span>@product.Name</span><br/>
                <a href="@product.Url"><img src="~/ImageGen.ashx?image=@product.Image&AllowUpSizing=true&width=200"/></a>
            </div>
        }
    </div>
   
</article>

 <div class="pagination">
			<ul>
			@*@Html.Partial("_Paging", Model.PageInformation)*@
			</ul>
			</div>
<br class="clr"/>
</div>

    <script type="text/javascript">
        $(document).ready(function() {
            $(".pagination li a").click(function () {
                var sortType = $("#sortType").val();
                var page = $(this).attr("data-page");
                
                if (page) {
                    getAllProducts(page, sortType);
                }
            });
            $("#sortType").change(function() {
                var type = $(this).val();
                var currentPage = 1;

                getAllProducts(currentPage, type);


            });
        });
        
        function getAllProducts(page, sortType) {
            $.ajax({
                url: '@Url.Action("ListProduct", "ArticleSurface")',
                type: "GET",
                data: { page: page, sortType:sortType },
                success: function (response) {
                    $(".span9").html(response);
                }
            });
        }
    </script>


