﻿@model List<Fashion.Models.Article>

@{
    ViewBag.Title = "Search result";
    Layout = "../Master.cshtml";
}

<h2>Search result</h2>

@foreach (var item in Model)
{
    <div>@item.ID</div><br/>
    <div>@item.Title</div>
}